/* ============================= */
/*        DOCUMENT BASICS        */
/* ============================= */

html {
  font-size: 100%; /* 16px default */
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-base);
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  color: var(--clr-dark);
  background-color: var(--clr-white);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* ============================= */
/*        MEDIA ELEMENTS         */
/* ============================= */

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* ============================= */
/*        FORM ELEMENTS          */
/* ============================= */

input,
button,
textarea,
select {
  font: inherit;
}

/* ============================= */
/*         TEXT ELEMENTS         */
/* ============================= */

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--fw-bold);
  line-height: 1.2;
  margin: 0;
  color: var(--clr-dark);
}

p {
  color: var(--clr-gray);
}

small {
  font-size: var(--fs-caption);
}
.green-font{
  color: var(--clr-primary);
}
/* ============================= */
/*         LIST & LINKS          */
/* ============================= */

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ============================= */
/*          BUTTON RESET         */
/* ============================= */

button {
  border: none;
  background: none;
  cursor: pointer;
}

/* ============================= */
/*          UTILITY BASE         */
/* ============================= */


.full-background{
  background-color: var(--clr-primary-light);
  width: 100%;
}

.



