:root{
    /* BRAND COLORS */
    --clr-primary: #28cb8b;
    --clr-primary-dark: #263238;
    --clr-primary-light: #f5f7fa;
    /* NEUTRAL / TEXT */
    --clr-dark: #263238; /* heading*/
    --clr-d-gray: #4D4D4D;
    --clr-gray: #717171;
}
    /* TYPOGRAPHY */
:root{
    --ff-base: 'inter',sans-serif;
}
:root{
    /* headings */
    --fs-h1: 3.75rem;      /* 64px */
    --fs-h2: 2.25rem;      /* 36px */
    --fs-h3: 1.75rem;      /* 28px */
    --fs-h4: 1.25rem;      /* 20px */
    /* Body */
    --fs-body-lg: 1.125rem; /* 18px */
    --fs-body: 1rem;        /* 16px */
    --fs-body-sm: 0.875rem; /* 14px */
    --fs-caption: 0.75rem;  /* 12px */
    /* footer */
    --fs-link-footer:0.60rem
}
:root{
    /* line height */
    --lh-h1: 1.2;
    --lh-h2: 1.3;
    --lh-h3: 1.4;
    --lh-body: 1.6;
    /* font weight */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
}
/* SPACING */
:root {
    --space-1: 0.25rem;  /* 4px */
    --space-2: 0.5rem;   /* 8px */
    --space-3: 1rem;     /* 16px */
    --space-4: 1.5rem;   /* 24px */
    --space-5: 2rem;     /* 32px */
    --space-6: 3rem;     /* 48px */
    --space-7: 4rem;     /* 64px */
    --space-8: 5rem;     /* 80px */
  
    --space-section: 6rem; /* 96px */
    --space-hero: 7rem;    /* 144px */
  }
  /* CONTAINER/WRAPPER */
  :root {
    --wrapper-width: 1152px;
    --wrapper-margin: 0 auto;
  }
  @media (max-width: 768px){
    :root{
        --wrapper-width: 100%;
    }
  }

  @media(max-width:768px){
    :root{
        /* headings */
    --fs-h1: 2.75rem;      /* 64px */
    --fs-h2: 1.25rem;      /* 36px */
    --fs-h3: 1rem;      /* 28px */
    --fs-h4: 0.75rem;      /* 20px */
    /* Body */
    --fs-body-lg: 1.125rem; /* 18px */
    --fs-body: 1rem;        /* 16px */
    --fs-body-sm: 0.875rem; /* 14px */
    --fs-caption: 0.75rem;  /* 12px */
    /* footer */
    --fs-link-footer:0.60rem
    }
  }