/* TYPOGRAPHY BASE */

body{
    font-family: var(--ff-base);
    font-size: var(--ff-body);
    line-height: var(--lh-body);
    color: var(--cl-d-gray);
}

/* HEADING */

h1,h2,h3,h4{
    color: var(--cl-dark);
    line-height: var(--lh-h2);
    margin: 0;
}
h1{
    font-size: var(--fs-h1);
    line-height: var(--lh-h1);
}
h2{
    font-size: var(--fs-h2);
}
h3{
    font-size: var(--fs-h3);
}
h4{
    font-size: var(--fs-h4);
}

/* PARAGRAPH */

P{
    font-size: var(--fs-body);
}

/* LINK */

a{
    color: var(--cl-primary);
    text-decoration: none;
    font-weight: var(--fw-medium);
}
a li{
    list-style-type: none;
}