



.bg-footer{
    background-color: var(--clr-primary-dark);
    color: var(--clr-primary-light);
    padding: var(--space-3) 0;
}
.footer p,a{
    font-size: var(--fs-caption);
}
.footer h5{
    color: var(--clr-primary-light);
    font-weight: var(--fw-bold);
    margin-bottom: var(--space-3);
}
.footer-logo-area{
    gap: var(--space-3);
    justify-content: center;
    text-align: center;
    grid-column: span 2;
}
.footer-logo{
    width: 150px;
    height: auto;
    margin: 0 auto;
}
.social{
    display: flex;
    gap: var(--space-3);
    justify-content: center;
}
.social-icon{
    border-radius: 50%;
    border: 2px solid transparent;
}
.social-icon:hover{
    border-radius: 50%;
    border: 2px solid var(--clr-primary);
}



.footnav-item:hover{
    color: var(--clr-primary);
}
.subscribe{
    position: relative;
    grid-column: span 2;
}
.subscribe-input{
    border: none;
    background-color: var(--clr-d-gray);
    padding: var(--space-2);
    border-radius: 6px;
    color: var(--clr-primary-light);
}
.subscribe-input::placeholder{
    color: var(--clr-primary-light);
    opacity: 0.7;
    font-size: var(--fs-caption);
}
.subscribe-input:focus::placeholder{
    background-color: var(--clr-d-gray);

}

@media(min-width: 768px){
    .gtc-2{
        grid-template-columns: 3fr 1fr 1fr 2fr;
        gap: var(--space-3);
        justify-items: start;
    }
    .footer-nav{
        justify-content: space-between;
    }
    .footer-logo-area{
        grid-column: unset;
        gap: var(--space-3);
    }
    .footer-logo{
        margin: 0;
    }
    .social{
        justify-content: unset;
    }    
    .subscribe{
        justify-content: unset;
        grid-column: unset;
    }
}