.split-img{
    margin: 0 auto;
}

@media(min-width: 768px){
    .split{
        grid-template-columns: auto auto;
        gap: var(--space-5);
    }
    .btn-split{
        justify-self: start;
    }
    .split-content{
        place-content: center;
        max-width: 33rem;
    }
}