
.hero-img{
    margin: 0 auto;
}
.hero-article, .hero-media{
    border: 1px solid red;
}
.hero-dot{
    display: flex;
    gap: var(--space-2);
    justify-content: center;
    padding-top: var(--space-5);
}
.dot-slider{
    width: 7.5px;
    height: 7.5px;
    border-radius: 50%;
    background-color: var(--clr-d-gray);
}
.dot-slider:hover{
    background-color: var(--clr-primary);
}

/* DESKTOP */
@media (min-width: 768px){
    .hero-content{        
        grid-template-columns: 2fr 1fr;  
        padding: var(--space-hero) 0;
    }
}