.metrics{
    text-align: center;
}
.metrics-header .green-font{
    display: block;
}
.metrics-item{
    display: flex;
    gap: var(--space-4);
    text-align: start;
    border: 1px solid red;
}
.metrics-img{
    max-width: var(--space-6);
    height: auto;
}
.metrics-text{
    text-align: unset;
    margin-left: 0;
}
.metrics-list, .metrics-header{
    justify-content: center;
    border: 1px solid red;
}

/* DESKTOP */

@media(min-width: 768px){
    .metrics{
        grid-template-columns: 1.5fr 1fr;
        justify-content: center;
        text-align: unset;
        padding: var(--space-7) 0;
    }
    .metrics-list{
    }
}