.hero-article{
    gap: var(--space-2);
}
.hero-content{    
    gap: var(--space-2);
}
.hero-img{
    margin: 0 auto;
}

.hero-dot{
    display: flex;
    gap: var(--space-2);
    justify-content: center;
    padding-top: var(--space-5);
}
.dot-slider{
    width: 7.5px;
    height: 7.5px;
    border-radius: 50%;
    background-color: var(--clr-d-gray);
}
.dot-slider:hover{
    background-color: var(--clr-primary);
}

/* DESKTOP */
@media (min-width: 768px){
    .hero-content{
        flex-direction: row;
        padding: var(--space-hero) 0;
        gap: var(--space-5);
    }
    .hero-article{
        flex: 60;
        margin: auto 0;
        gap: var(--space-5);
    }
    .hero-media{
        flex: 40;
    }
}