
.clients{
    text-align: center;
}
.clients-header h2{
    margin-bottom: var(--space-2);
}
.brand-img{
    width: 100%;
    max-width: 50px;
    margin: 0 auto;
}
/* .logos-list{
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-3);
    margin: 0 auto;
    justify-content: center;
} */
/* DESKTOP */
/* @media(min-width: 768px){
    .clients{
        padding: var(--space-5) 0;
    }
    .logos-list{
        justify-content: space-between;
        margin: 0;
    }
} */