
.hero-img{
    margin: 0 auto;
}
.hero-dot{
    display: flex;
    gap: var(--space-2);
    justify-content: center;
    padding-top: var(--space-5);
}
.dot-slider{
    width: 7.5px;
    height: 7.5px;
    border-radius: 50%;
    background-color: var(--clr-d-gray);
}
.dot-slider:hover{
    background-color: var(--clr-primary);
}

/* DESKTOP */
@media (min-width: 768px){
    .hero{
        padding: var(--space-5);
    }
    .hero-content{        
        grid-template-columns: 2fr 1fr;  
        place-items: center;
    }
    .hero-article{
        place-content: center;
    }
    .hero-title{
        padding-bottom: var(--space-3);
    }
    .btn-hero{
        justify-self: start;
    }
}