
.features-header{
    max-width: 35rem;
    text-align: center;
    margin: 0 auto;
}
.feature{
    margin: 0 auto;
    text-align: center;
    padding-bottom: var(--space-2);
    border-bottom: 2px solid var(--clr-primary-light);
}
.feature-icon{
    max-width: 3.5rem;
    height: auto;
    margin: 0 auto;
}

/* DESKTOP */
@media(min-width: 768px){
    .feature{
        max-width: 15rem;
    }
} 