.metrics{
    gap: var(--space-5);
    text-align: center;
    margin: 0 auto;
}
.metrics-header{
    flex: 1;
    justify-content: center;
}
.metrics-header .green-font{
    display: block;
}
.metrics-list{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-5) var(--space-3);
    margin: 0 auto;
}
.metrics-item{
    display: flex;
    align-items: center;
    gap: var(--space-3);
}
.metrics-icon{
    width: var(--space-6);
    height: auto;
}

/* DESKTOP */

@media(min-width: 768px){
    .metrics{
        flex-direction: row;
        text-align: unset;
    }
}