
.testi{
    justify-content: space-between;
    gap: var(--space-3);
    align-items: center;
}
.testi-img{
    max-width: 150px;
    height: auto;
    margin: 0 auto;
}
.testi-content{
    gap: var(--space-3);
}
.author h3{
    color: var(--clr-primary);
    margin-bottom: var(--space-2);
}
.testi-logo{
    max-width: 50px;
}
.grid-auto-icon li:last-child{
    justify-self: start;
    width: max-content;
}
.logo-testi-list{
    max-width: 700px;
}
.testi-icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-3);
}

/* DESKTOP */

@media(min-width: 768px){
    .testi{
        grid-template-columns: 3fr 7fr;
        gap: var(--space-4);
        padding: var(--space-6) 0;
    }
}