


.bg-footer{
    background-color: var(--clr-primary-dark);
    color: var(--clr-primary-light);
    padding: var(--space-3) 0;
}
.footer{
    display: flex;
    flex-direction: column-reverse;
    gap: var(--space-4);
}

@media(min-width: 768px){
    .footer{
        flex-direction: row;
    }
    .footer-logo-area{
        flex: 1;
    }
    .footer-nav{
        flex: 1.35;
        justify-content: space-between;
    }
}